.navigation {
    font-weight: bold;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: #385170;
    color: #ececec;
}

.nav_link {
    color: #ececec;
    font-family: 'Work Sans', sans-serif;
}