.ArticlesListCard {
    border: 5px rgb(0, 92, 0);
    width: auto;
    display: grid;
    grid-template-columns: 3fr, 1fr;
    grid-template-rows: repeat (1fr);
    padding: 1em;
    margin: 1em;
    list-style-type: none;
}

.article_img {
    width: 12em;
    height: 12em;
    border-radius: 5%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
}

.title {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif
}


.topic {
    border: 3px solid #166016;
    color: #166016;
    font-weight: bold;
    border-radius: 4px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 5rem;
    text-align: center;
    margin: 2px;
 }

 .author {
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
 }