.scrolling_articles_list{
    height:50rem;
    overflow:scroll;
    overflow-x:hidden;
    list-style-type: none;
}

.articles_list{
    list-style-type: none;
}

.topic_filter {
    list-style-type: none;
}