@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Work+Sans:wght@700&display=swap');

body {
    background-color: #f5f5dc; 
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
  }
  
  * {
    border-radius: 10px;
  }
  
  h1, h2, h3 {
    color: #166016; 
    font-family: 'Work Sans', sans-serif;
  }
  

  p {
    color: #8B4513; 
  }
  

  .button {
    background-color: #166016; 
    color: white; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  .link {
    color: #166016;
    font-family: 'Merriweather', serif;
  }